body {

    background-color: lightgray;
  }
  .main {
    text-align: center;
  }
  .name {
    color: dimgray;
    font-size: 50px;
    font-weight: bold;
  }
  #learn {
    color: #898989;
    font-style: italic;
    font-size: 20px;
  }